# sorties 
net "S(0)" loc = "H17" | IOSTANDARD=LVCMOS33; # DEL 0
net "S(1)" loc = "K15" | IOSTANDARD=LVCMOS33; # DEL 0
net "S(2)" loc = "J13" | IOSTANDARD=LVCMOS33; # DEL 0
net "S(3)" loc = "N14" | IOSTANDARD=LVCMOS33; # DEL 0


# entr´ees 
net "A(0)" LOC = "J15" | IOSTANDARD=LVCMOS33; # interrupteur 0 
net "A(1)" LOC = "L16" | IOSTANDARD=LVCMOS33; # interrupteur 0
net "A(2)" LOC = "M13" | IOSTANDARD=LVCMOS33; # interrupteur 0 
net "A(3)" LOC = "R15" | IOSTANDARD=LVCMOS33; # interrupteur 0 
net "sel0" LOC = "V10" | IOSTANDARD=LVCMOS33; # interrupteur 1 
